#about_blue {
  border-style: solid;
  border-color: black;
  border-radius: 3px;
  background-color: #6495ED;
  margin-bottom: 15px;
}
#about_blue li {
  color: blue;
}

#about_yellow {
  border-style: solid;
  border-color: black;
  border-radius: 3px;
  background-color: #FFEBCD;
}

#about_yellow li {
  color: orange;
}

li.important {
  font-weight: bold;
}
 .nav li a{
   color: white;
   background-color: red;
 }
